.square{
    margin: 80px;
    border-bottom: 1px solid #bababa;
    text-align: center;

    .element-name{
        text-align: initial;
    }

    .right{
        text-align: end!important;
    }
    .ammount {
        color: #bababa;
    }
}